<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <logger name="org.org.aspectj.groovy.aspectjweaver" level="OFF"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS zzz}|%-5level %-25logger{25} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <file>./log/tests.log</file>
        <append>false</append>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS zzz}|%-5level %-25logger{25} - %message%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="LOGFILE"/>
    </root>

</configuration>